<ion-content>
  <div class="d-flex-center back">
    <ion-card class="login-card back-logo main">
     <app-header backButton="/login" ></app-header>

      <ion-card-content class="login-card-form">
        <form class="flex-center" [formGroup]="form" (ngSubmit)="submit()"
          (keypress.enter)="submit()">
          <app-logo></app-logo>
          <ion-avatar *ngIf="form.value.image">
            <img [src]="form.value.image" />
          </ion-avatar>
          <!-- si no existe imagen muestra un icono -->
          <ion-icon class="image-icon" *ngIf="!form.value.image" name="image-outline"></ion-icon>
          <br>
          <!-- toma o selecciona imagen -->
          <ion-button mode="ios" (click)="takeImage()" size="small" shape="round">
           Tomar/Selecionar
          </ion-button>
          <!-- CAMPO categoria -->
          <app-custom-input type="text"  label="Catergoria"
            [control]="form.controls.category"></app-custom-input>
          <div class="validators" *ngIf="form.controls.category.errors && form.controls.category.touched">
            <div *ngIf="form.controls.category.errors?.['required']">Ingresa la categoria del objeto</div>
            <div *ngIf="form.controls.category.errors?.['Lenght']">El nombre debe tener mas de 4 caracteres</div>
          </div>
          <!-- CAMPO descripcion -->
          <app-custom-input type="text"  label="Descripcion completa"
            [control]="form.controls.description"></app-custom-input>
          <div class="validators" *ngIf="form.controls.description.errors && form.controls.description.touched">
            <div *ngIf="form.controls.description.errors?.['required']">Ingresa una descripcion completa</div>
            <div *ngIf="form.controls.description.errors?.['Lenght']">La descripcion debe tener mas de 4 caracteres</div>
          </div>
           <!-- CAMPO Lugar -->
           <app-custom-input type="text"  label="Descripcion completa"
           [control]="form.controls.site"></app-custom-input>
         <div class="validators" *ngIf="form.controls.site.errors && form.controls.site.touched">
           <div *ngIf="form.controls.site.errors?.['required']">Donde lo encontraste ?</div>
           <div *ngIf="form.controls.site.errors?.['Lenght']">El lugar debe tener mas de 4 caracteres</div>
         </div>

         <!-- estado del objeto -->


       
          <ion-button (click)="submit()" expand="block" mode="ios" shape="round" type="submit"
            [disabled]="form.invalid">
            Agregar Objeto
          </ion-button>

        </form>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>