ion-thumbnail {
  --size: 140px;
  --border-radius: 14px;
}

ion-button, ion-card{
  width: 100%;
  padding: 0 !important;
}

ion-button{
  --padding-end: 0 !important;
  --padding-start: 0!important;
}

ion-thumbnail{
  margin: 2% 0% 2% 5% !important;
}



h3{
  text-align: left;
  margin-left: 20px;
}

ion-col.badge-product{
  display: flex;
  justify-content: end;
  align-items: center;
}

//MD
@media screen and (min-width: 768px) and (max-width: 991px) {
  ion-col.badge-product{
    display: flex;
    justify-content: start;
    align-items: center;
    order: 2;
  }
  ion-col.badge-product-text{
    text-align: end;
    order: 1;
  }
}

//LG
@media screen  and (min-width: 992px) and (max-width: 1199px) {
  ion-col.badge-product{
    display: flex;
    justify-content: start;
    align-items: center;
    order: 2;
  }
  ion-col.badge-product-text{
    order: 1;
  }
}
