ion-button#button-list{
  display: flex;
  align-content: center;
  --color: #000000;
}

ion-button#btn-logout{
  width: 100%;
  --color: red;
}

.ion-text-center{
  text-align: center;
}


div#footer-menu{
  border-top: 1px solid rgba($color: #979797, $alpha: 0.3);
  padding: 10px 0;
}
