<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-button fill="clear" id="button-list" disabled="true"><ion-icon name="home-outline" slot="end"></ion-icon>inicio</ion-button>
      <ion-button fill="clear" id="button-list"><ion-icon name="person-circle-outline" slot="end"></ion-icon>Perfil</ion-button>
      <ion-button fill="clear" id="button-list"><ion-icon name="newspaper-outline" slot="end"></ion-icon>Pedidos</ion-button>
    </ion-content>
    <div id="footer-menu" class="ion-text-center">
      <ion-button fill="clear" id="btn-logout" (click)="signOut()"><ion-icon name="log-out-outline" slot="end"></ion-icon>Cerrar sesión</ion-button>
    </div>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="start">
            <ion-icon name="home-outline"></ion-icon>
            Inicio
          </ion-tab-button>
          <ion-tab-button tab="article">
            <ion-icon name="file-tray-stacked-outline"></ion-icon>
            Articulos
          </ion-tab-button>
          <ion-tab-button tab="list">
            <ion-icon name="list-outline"></ion-icon>
            Lista
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</ion-app>
